body {
  border-top: solid 5px #ff6600; }

.main-header {
  display: block;
  background: #274287; }
  .main-header__title {
    margin: 0;
    height: 50px;
    line-height: 1.75;
    padding: 5px 15px;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    font-weight: normal;
    color: #fff; }
  .main-header__logo {
    height: 100%; }
  .main-header__link {
    display: inline-block;
    margin-right: 10px;
    height: 40px; }

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal a {
  color: #ff6600; }

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a {
  color: #364149; }

.book-summary {
  top: 50px; }
  .book-summary ul.summary li.active > a {
    color: #ff6600; }

.book-header {
  top: 5px;
  background-color: #274287;
  color: #fff; }
  .book-header .btn {
    color: #fff;
    transition: color .3s; }
    .book-header .btn:hover {
      color: #cccccc; }

.book.color-theme-2 .book-header .btn {
  color: #bdcadb; }

.markdown-section a {
  color: #ff6600; }

#book-search-results .search-results .has-results .search-results-item p {
  color: #364149; }
#book-search-results .search-results .has-results .search-results-item a {
  color: #ff6600; }

.color-theme-2 #book-search-results .search-results .has-results .search-results-item p {
  color: #bdcadb; }

.summary .divider {
  display: none; }
.summary > li:last-child {
  display: none; }
