// variablesaj
$orange: #ff6600;
$blue: #274287;
$light-blue: #b3e2fc;
$white: #fff;

body {
  border: {
    top: solid 5px $orange;
    //left: solid 5px $orange;
  }
}

// Header
.main-header {
  display: block;
  background: $blue;
  //background: linear-gradient(to bottom, $light-blue 20%, $white 20%, $white 25%, $blue 25%, $blue 75%, $white 75%, $white 80%, $light-blue 80%);
  
  &__title {
    margin: 0;
    height: 50px;
    line-height: 1.75;
    padding: 5px 15px;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    font-weight: normal;
    color: $white;
  }

  &__logo {
    height: 100%;
  }

  &__link {
    display: inline-block;
    margin-right: 10px;
    height: 40px;
  }
}

// Sidebar
.book-summary {
  top: 50px;
  
  ul.summary li.active>a {
    color: $orange;
  }
}

// book header
.book-header {
  top: 5px;
  background-color: $blue;
  //background: linear-gradient(to bottom, $light-blue 20%, $white 20%, $white 25%, $blue 25%, $blue 75%, $white 75%, $white 80%, $light-blue 80%);

  color: $white;
  
  .btn {
    color: $white;
    transition: color .3s;

    &:hover {
      color: darken($white, 20%);
    }
  }
}

// book body
.markdown-section a {
  color: $orange;
}

// search results
#book-search-results .search-results .has-results .search-results-item a {
  color: $orange;
}

.summary { 
  .divider {
    display: none;
  }

  > li:last-child {
    display: none;
  }
}
